<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/characters"></ion-back-button>
    </ion-buttons>
    <ion-title>Comic Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="comic">
    <ion-card-header>
      <ion-card-title>
        {{ comic.title }}
      </ion-card-title>
      <ion-card-subtitle>Format: {{ comic.format }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <img [src]="comic.thumbnail.path + '/landscape_xlarge.' + comic.thumbnail.extension" />

      {{ comic.description ? comic.description : 'No description available.'}}

    </ion-card-content>
  </ion-card>
</ion-content>