<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/characters"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Character Comics</ion-title>
    <ion-icon slot="end" class="home-btn" name="home" size="large" [routerLink]="['/characters']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="loader-container" *ngIf="loading else loaded">
    <img src="assets/img/spinner.svg">
  </div>

  <ng-template #loaded>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of comics | paginate: { itemsPerPage: 10, currentPage: p }" sizeXs="12" sizeSm="6"
          sizeLg="4" sizeXl="3">
          <ion-card [routerLink]="['/', 'comics', item.id]">
            <img [src]="item.thumbnail.path + '/landscape_xlarge.' + item.thumbnail.extension" />
            <ion-card-header>
              <ion-card-title>{{ item.title }}</ion-card-title>
            </ion-card-header>

            <ion-card-content>
              <div class="comics-card-description">
                Series: {{ item.series.name }}
              </div>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>

  <pagination-controls *ngIf="!loading" (pageChange)="p = $event" autoHide="true" responsive="true"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"
    class="pagination">
  </pagination-controls>

</ion-content>