<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/characters"></ion-back-button>
    </ion-buttons>
    <ion-title>Character Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="character">
    <ion-card-header>
      <ion-card-title>
        {{ character.name }}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img [src]="character.thumbnail.path + '/landscape_xlarge.' + character.thumbnail.extension"
        class="character-img" />

      {{ character.description ? character.description : 'No description available.'}}

      <a [title]="character.name + ' comics'" [routerLink]="['comics']" *ngIf="character.comics.available">
        <ion-button expand="full">View Comics</ion-button>
      </a>

    </ion-card-content>
  </ion-card>

</ion-content>