<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar class="search-bar" [(ngModel)]="searchTerm" (ionChange)="searchChanged($event)"
    placeholder="Search a Marvel character">
  </ion-searchbar>

  <ion-list>
    <ion-item button *ngFor="let item of (results$ | async) | paginate: { itemsPerPage: 20, currentPage: p }"
      [routerLink]="['/', 'characters', item.id]">
      <ion-avatar slot="start">
        <img [src]="item.thumbnail.path + '/landscape_xlarge.' + item.thumbnail.extension">
      </ion-avatar>
      {{ item.name }}
      <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
  </ion-list>

  <pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true"
    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"
    class="pagination">
  </pagination-controls>

</ion-content>